.check-form {
   font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 50dvw;
  margin: 2rem auto;
  border-radius: 12px;
  box-shadow:
    0 10px 15px rgba(52, 152, 219, 0.3),
    0 6px 10px rgba(41, 128, 185, 0.3);
  h3{
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

.check-form input,
.check-form label,
.check-form button {
  font-family: inherit;
  padding:5px;
  width:100%;
  font-size: 0.75rem;
  color: #2c3e50;
}
.input-group{
 position: relative;
 margin-bottom:0.85rem ;
}
.actions-group{
  display: flex;
  margin: top 5px;
  flex-direction: row;
  justify-content: space-between;
  gap:0.5rem;
}
.check-form input {
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: border-color 0.2s ease;
}

.check-form input:focus {
  border-color: #3498db;
  outline: none;
}

.check-form label {
  font-weight: 600;
}

.addCheckBtn{
  width:30dvw;
  margin: auto;
  background:  linear-gradient(45deg, #67e635, #4daa28);
}

.check-form button {
  background: linear-gradient(45deg, #3498db, #2980b9);
  color: white;
  padding: 0.7rem;
  border: none;
  border-radius: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

.check-form button:hover {
  background: linear-gradient(45deg, #2980b9, #2471a3);
  box-shadow: 0 4px 12px rgba(41, 128, 185, 0.8);
}

.form-error {
  color: #e74c3c;
  font-size: 0.7rem;
  font-style: italic;
  position: absolute;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* fondo oscuro semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* bien arriba */
  animation: fadeIn 0.3s ease;
}

.check-form {
  animation: slideUp 0.3s ease;
}

/* Animación de entrada suave */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

  @media (max-width: 768px) {
    .check-form{
      max-width:90dvw;
      button{
       padding:0.5rem;
      } 
    }
    
  }