.lists-container {
    display: flex;
    max-width: 60dvw;
    min-height: 80vh;
    align-items: flex-start;
    margin: 0 auto;
    h2{
      text-align: center;
    }
  }
  .addCheckBtn {
    width: 100%;
    }
  .task-container {
    flex: 1;
    min-width: 300px;
    max-width:60dvw;
    max-height: 60vh;
    height: 60vh;
    overflow-y: scroll;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .task-list {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
  }
  .task-item {
    position: relative; /* Hace que el botón se posicione relativo a este contenedor */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top ;
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 5px;
    border: 1px solid #ddd;
    min-height: 120px; /* Establece una altura mínima para todas las tarjetas */
  }
  .buttons-section{
    width:60dvw;
    margin: auto;
  }
  
  .task-item-content {
    flex-grow: 1;
    padding-bottom: 40px; /* Espacio extra para evitar que el botón se superponga con el texto */
  }
  .tabs-selector {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 20px 0;
  width:100%;
}

.tabs-selector button {
  padding: 10px 20px;
  background-color: #eee;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.tabs-selector button:hover {
  background-color: #ddd;
}

.tabs-selector button.active {
  background-color: #007bff;
  color: white;
}

  
  @media (max-width: 768px) {
    .lists-container {
      flex-direction: column;
      align-items: center;
    }
  
    .task-container {
      width: 90dvw;
      max-width: 90dvw;
    }
     .buttons-section{
    width:90dvw;
    margin: auto;
  }
    
  }
  