.check-container{
    display: flex;
    flex-direction: column;
    align-items: top;
    padding: 0;
    width: 100%;
    min-width: 20dvw;
    min-width: 20dvw;
    top: 0;
  }
.check-list {
    display: flex;
    flex-direction: column;
    align-items: top;
    padding: 0;
    width: 100%;
    top: 0;
  }

  .check-item {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 10px;
    margin: 5px 0;
    background-color: #f8f9fa;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
 
  
  @media (max-width: 480px) {
    .check-list {
      max-width: 90%;
    }
  }
  