.tabs-header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.tab-button {
  margin: 2px;
  padding: 8px 12px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
  border-radius: 5px;
}

.tab-button.active {
  background-color: #007bff;
  color: white;
}
.check-container {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
span {
  font-size:1.25rem;
}
/* Título principal */
h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 900;
  font-size: 1.5rem;
  color: #34495e;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}